<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a  mat-menu-item [routerLink]="['/curso']">Cursos</a>
  <a  mat-menu-item [routerLink]="['/turma']">Turmas</a>
  <a  mat-menu-item [routerLink]="['/funcionario']">Funcionarios</a>
  <a  mat-menu-item [routerLink]="['/insumo']">Insumos</a>
  <a  mat-menu-item [routerLink]="['/modelo_sapato']">Modelo de sapatos </a>
  <a  mat-menu-item [routerLink]="['/producao_recebida']">Nova produção</a>
  <a  mat-menu-item [routerLink]="['/grupo_pesponto']"> Grupo Pesponto</a>
</mat-menu>
