<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

	<mat-form-field>
		<mat-label>Nome do grupo</mat-label>
		<input matInput placeholder="Informe o nome do grupo" [(ngModel)]="grupo_pesponto.nomeGrupo" name="nomeGrupo" required>
  </mat-form-field>

  	<mat-form-field>
		<mat-label>Quantidade de funcionarios</mat-label>
		<input matInput placeholder="Informe a quantidade de funcionarios do grupo"
         [(ngModel)]="grupo_pesponto.qtdFuncionarios" name="qtdFuncionarios" required>
  </mat-form-field>

  	<mat-form-field>
		<mat-label>Nome funcionario </mat-label>
		<input matInput placeholder="Informe o nome do funcionarios "
        [(ngModel)]="grupo_pesponto.nomeFuncionarios" name="nomeFuncionarios" required>
  </mat-form-field>

  	<mat-form-field>
		<mat-label>Produção do grupo</mat-label>
		<input matInput placeholder="Informe a produção do grupo "
        [(ngModel)]="grupo_pesponto.producao" name="producao" required>
  </mat-form-field>

	<mat-form-field>
		<mat-label>Valor do sapato </mat-label>
		<input matInput placeholder="Informe por par de sapato"
        [(ngModel)]="grupo_pesponto.valorPar" name="valorPar" required>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>