<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

	<mat-form-field>
		<mat-label>Nome do grupo</mat-label>
		<input matInput placeholder="Informe o nome do grupo" [(ngModel)]="grupo_pesponto.nomeGrupo" name="nomeGrupo" required>
  </mat-form-field>

  	<mat-form-field>
		<mat-label>Quantidade de funcionarios</mat-label>
		<input matInput placeholder="Informe a quantidade de funcionarios do grupo"
         [(ngModel)]="grupo_pesponto.qtdFuncionarios" name="qtdFuncionarios" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Informações do Funcionario 1</mat-label>
    <mat-select [(ngModel)]="grupo_pesponto.nomeFuncionario1" name="nomeFuncionario1" required>
      <mat-option *ngFor="let nomeFuncionario1 of funcionarios" [value]="nomeFuncionario1._id">
        {{ nomeFuncionario1.nome }} ({{nomeFuncionario1.funcao}})
      </mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field>
    <mat-label>Informações do Funcionario 2</mat-label>
    <mat-select [(ngModel)]="grupo_pesponto.nomeFuncionario2" name="nomeFuncionario2" required>
      <mat-option *ngFor="let nomeFuncionario2 of funcionarios" [value]="nomeFuncionario2._id">
        {{ nomeFuncionario2.nome }} ({{nomeFuncionario2.funcao}})
      </mat-option>
    </mat-select>
  </mat-form-field>

    <mat-form-field>
    <mat-label>Informações do Funcionario 3</mat-label>
    <mat-select [(ngModel)]="grupo_pesponto.nomeFuncionario3" name="nomeFuncionario3" required>
      <mat-option *ngFor="let nomeFuncionario3 of funcionarios" [value]="nomeFuncionario3._id">
        {{ nomeFuncionario3.nome }} ({{nomeFuncionario3.funcao}})
      </mat-option>
    </mat-select>
  </mat-form-field>

   <mat-form-field>
    <mat-label>Informações da produção</mat-label>
    <mat-select [(ngModel)]="grupo_pesponto.producao" name="producao" required>
      <mat-option *ngFor="let producao of producoes" [value]="producao._id">
        {{ producao.numeroFicha }} 
      </mat-option>
    </mat-select>
  </mat-form-field>

	<mat-form-field>
		<mat-label>Valor do sapato </mat-label>
		<input matInput placeholder="Informe por par de sapato"
        [(ngModel)]="grupo_pesponto.valorPar" name="valorPar" required>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>