mat-toolbar{
   justify-content: center;
   font-size: 90%;
   height: 30px;
   position: fixed;
   bottom: 0;
}
mat-toolbar mat-icon{
    font-size: 15px;
    height: 15px;
    width: 15px;
    margin-top: 15px

}