<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

	<mat-form-field>
		<mat-label> quantidade de pares </mat-label>
		<input matInput placeholder="Informe a quantidade de pares recebida" [(ngModel)]="producao_recebida.qtdPares" name="qtdPares" required>
  </mat-form-field>

  	<mat-form-field>
		<mat-label> Plano </mat-label>
		<input matInput placeholder="Informe o numero do plano" [(ngModel)]="producao_recebida.plano" name="plano" required>
  </mat-form-field>

   <mat-form-field>
    <mat-label>Informações do sapato</mat-label>
    <mat-select [(ngModel)]="producao_recebida.modeloSapato" name="modeloSapato" required>
      <mat-option *ngFor="let modeloSapato of modeloSapatos" [value]="modeloSapato._id">
        {{ modeloSapato.nomeFabrica }}  ({{ modeloSapato.referencia }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data de recebimento</mat-label>
    <input matInput [matDatepicker]="diaRecebimento" name="diaRecebimento" 
        [(ngModel)]="producao_recebida.diaRecebimento" placeholder="Informe o dia de entrada da produção" required>
    <mat-datepicker-toggle matSuffix [for]="diaRecebimento"></mat-datepicker-toggle>
    <mat-datepicker #diaRecebimento></mat-datepicker> 
  </mat-form-field>

  <mat-form-field>
		<mat-label> Numero da ficha</mat-label>
		<input matInput placeholder="Informe o nome da fabrica" [(ngModel)]="producao_recebida.numeroFicha" name="fabrica" required>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>